div#home{
	height: 100vh;
	background: #00F5F5;
	margin-top: 70px;
}
div#second{
	height: 100vh;
	background: yellow;
}

div#third{
	height: 100vh;
	background: orange;
}

nav{
	display: block;
	height: 100px;

}

nav li{
	display: inline-block;
	padding: 24px 10px;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
	background: white;
	width: 100%;
}