div#home{
	height: 100vh;
	background: #00F5F5;
	margin-top: 70px;
}
div#second{
	height: 100vh;
	background: yellow;
}

div#third{
	height: 100vh;
	background: orange;
}

nav{
	 border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav li{
	display:inline;
}

nav a{
    display:inline-block;
    padding:10px;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
	background: white;
	width: 100%;
}